# C/C++
*.o
*.obj
*.so
*.dll
*.exe
*.out
*.a
*.lib

# Build dirs
build/
dist/
bin/
Debug/
Release/

# PlatformIO
.pio/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
#Ai helper packs
*.mdx
# Logs / temp
*.log
*.tmp
AI/logs/*.jsonl
AI/logs/*.json

# Models / checkpoints
*.h5
*.pt
*.pth
*.onnx
*.ckpt
models/
checkpoints/
#training data
*.jpg
*.png
!AI/loadscreen.png

# App artifacts (recordings, enrollment images)
ai/recordings/*.mp4
ai/recordings/*.avi
ai/data/faces/**/*.jpg
ai/data/faces/**/*.jpeg
ai/data/faces/**/*.png
ai/data/pets/dogs/**/*.jpg
ai/data/pets/dogs/**/*.jpeg
ai/data/pets/dogs/**/*.png
ai/data/pets/cats/**/*.jpg
ai/data/pets/cats/**/*.jpeg
ai/data/pets/cats/**/*.png
ai/cameras.json
.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
